*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    height: 80px;
}
main{
    display: flex;
    flex-direction: row;
    padding: 0 40px 20px 40px;
    height: calc(100vh - 80px);

}

.escolher{
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.escolher a{
    display: block;
    font-size: 30px;
    color: #000;
    text-decoration: none;
    background-color: #ccc;
    padding: 50px;
    border-radius: 10px;
}
.escolher a:hover{
    background-color: #09f;
}