main{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}
.titulo{
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}
.lerQrcode{
    color: #000;
    font-size: 20px;
    text-decoration: none;
    display: block;
    background-color: #eee;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
}
.lerQrcode img{
    width: 35px;
}
.opcao{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.botao{
    width: 40%;
    margin-top: 20px;
}
.botao a{
    color: #000;
    font-size: 20px;
    text-decoration: none;
    display: block;
    background-color: #eee;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

@media only screen and (max-width: 800px){
   
}